dist: trusty
language: java
jdk: 
  - oraclejdk8
  - openjdk8
services:
  - mysql
  - redis-server
before_install:
  - sudo mysql -e "create database casbin;"
install: true
before_script:
  - chmod +x ./gradlew
script:
  - "./gradlew build --parallel --scan -s"
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
deploy:
  provider: bintray
  user: fangzhengjin
  key:
    secure: JhRcO7gf0NQV2pYbfkCC/ZgL857xNzRkvF8kxdX8/AHLA7tKmGF37ndrvWZ4AhMW1/YdLriJVxda4sXyD8Zbw15X0B1fpGPp5z0KZU6Q07/+jAUZrSEbevwp3Vbe0ks9CcoUFLsFa6y04SYiBHrHj324wkLrgEi7aExhwxY20mOVRRq5xR13d3rQBjbyCs6zkdffQD+5il+ySVdKjl0oxaIJBi3AqkcTkU3GlPy1blKvzblrecY6nBtcLoWScPdHfqH8EsB8srAZ5M/bC0E1I0TO1QkEFlBxHyF9VbSgxzKxbdTcGYuR/uBQkDp73PSDeoayUW5wtObL/3LNnF6yHS+TXE265TARzyUg27J7O0sGsTkB147SbTa8u48h0gqpTI9iGzB1x4BzGTIpJeNe+69dHSdO0rJOrsEoSiQ2o/ch45y6pE5yD3LIht70EUsUav19FOLXdOD0cNgJkB7SV7HBGnvJ+u06yoq4G2zjGTQpht7cOfd/hXP8D9tBMmi3kGcEZPUXZHN6OCqWjURNMgRErLR+ILdQfGXz1FV9n3IhUHc26MvwvWNKnzpi0X1Iio28na9MMp7ceKlyptMBBeyHt5w/lEFOfzGqJAbooLtMpDzsw1/wCseSLhIH2er7afr0HjFw8bMuSftwCE7iitGhHwlyLrw8EZEPRUdzvio=
  skip_cleanup: true
  file: build/descriptor.json
  on:
    tags: true
    jdk: oraclejdk8
    branch: master
